VITE_API_HOST=localhost:8080
VITE_LLM_HOST=http://localhost:8081
VITE_EMBEDDINGS_HOST=http://localhost:8082
VITE_EMBEDDINGS_MODEL=text-embedding-3-large
VITE_EMBEDDINGS_DIMENSIONS=1024
VITE_DEBUG=false
